POSTGRES_USER=<GENERATE_LOCALLY>
POSTGRES_DB=<GENERATE_LOCALLY>
POSTGRES_PASSWORD=<GENERATE_LOCALLY>
CLICKHOUSE_USER=<GENERATE_LOCALLY>
CLICKHOUSE_PASSWORD=<GENERATE_LOCALLY>
REDIS_AUTH=<GENERATE_LOCALLY>
MINIO_ROOT_USER=<GENERATE_LOCALLY>
MINIO_ROOT_PASSWORD=<GENERATE_LOCALLY>
SALT=<GENERATE_LOCALLY>
ENCRYPTION_KEY=<GENERATE_LOCALLY>
NEXTAUTH_SECRET=<GENERATE_LOCALLY>
